doctype html
head
    meta(name="viewport" content="width=device-width")
    title #{title}
    link(rel="stylesheet" href="/stylesheets/app.css")
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
body
    .wow_wrapper.about
        .about_header
            | О ПРОЕКТЕ
            .about_message
                | Самая большая подстава заключается в том, что когда ты слышишь впервые историю от
                | человека, то ты не обращаешь
                a(href='http://the-grizzly.ru') The Grizzly
                | на детали, у тебя все дорисовывается само в го- лове. Когда слышишь
                | историю во второй, третий, тысячный раз, то понимаешь.
            .much_about_footer
                .place_list
                    .place_list_header ВОЗЬМИ СВОЙ НОМЕР ЗДЕСЬ
                    ul
                        li
                            a(href='#') creative space
                        li
                            a(href='#')  dobro cowork
                        li
                            a(href='#') стриж Барбершоп
                        li
                            a(href='#') setter’s brew-bar
                        li
                            a(href='#') коворкинг MEsto
                        li
                            a(href='#') Irene & Mary
                .so_cross.wow_hide_about
            .separator
    .wow_wrapper.main
        .many_header
            | Bullshit board
        .a_lot_of_nav_container
            .so_about
                a.wow_show_about(href='#') О проекте
            .much_sub_header
                a.wow_show_search(href='#') Найти / Добавить булшит
            .very_date 09.06.14 / 20:38
        .many_about_container
        .very_bullshit_container

    .wow_wrapper.search
        .so_search_container
            a.so_cross.wow_hide_search(href='#')
            .many_header ПОИСК БУЛШИТА
            textarea.very_search_input
        .very_bullshit_search_container
            .so_sorry
                | Извини, ничего похожего.
                br
                | Сформулируй хорошенько что ищешь и жми:
        .amazing_button.wow_publish(style='margin-top: 3.5%;') опубликовать булшит
    script.
      require('initialize');
