doctype html
head
    meta(name="viewport" content="width=device-width; initial-scale=1")
    title #{title}
    link(rel="stylesheet" href="/stylesheets/app.css")
    link(href="/img/Fav-Bullshit.png" rel="shortcut icon" type="image/x-icon")
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
body
    .wow_wrapper.about
        .so_cross.wow_hide_about
        .about_header_nosrollbar_wrapper
            .about_header
                | О ПРОЕКТЕ
                .about_message
                    | Самая большая подстава заключается в том, что когда ты слышишь впервые историю от
                    | человека, то ты не обращаешь
                    a(href='http://the-grizzly.ru') &nbsp; The Grizzly &nbsp;
                    | на детали, у тебя все дорисовывается само в го- лове. Когда слышишь
                    | историю во второй, третий, тысячный раз, то понимаешь.
                .much_about_footer
                    .place_list
                        .place_list_header ВОЗЬМИ СВОЙ НОМЕР ЗДЕСЬ
                        ul
                            li
                                a(target='_blank' href='http://creativespace.pro') creative space
                            li
                                a(target='_blank' href='http://www.dobrocowork.ru')  dobro cowork
                            li
                                a(target='_blank' href='http://strizhbarber.com') стриж Барбершоп
                            li
                                a(target='_blank' href='https://vk.com/setterscafe') setter’s brew-bar
                            li
                                a(target='_blank' href='https://www.facebook.com/mestocc?fref=ts') коворкинг MEsto
                            li
                                a(target='_blank' href='https://ru.foursquare.com/v/irene-and-marie/529757e411d2904f17cb1b86') Irene & Marie

            .separator
    .wow_wrapper.main
        .many_header
            | Bullshit board
        .a_lot_of_nav_container
            .so_about
                a.wow_show_about(href='#') О проекте
            .much_sub_header
                a.wow_show_search(href='#') Найти / Добавить
                    span.so_adaptive &nbspбулшит
            .very_date 09.06.14 / 20:38
        .many_about_container
        .very_bullshit_container

    .wow_wrapper.search
        .so_search_container
            a.so_cross.wow_hide_search(href='#')
            .many_header ПОИСК БУЛШИТА
            textarea.very_search_input
        .very_bullshit_search_container
        .so_sorry
            | Извини, ничего похожего.
            br
            | Сформулируй хорошенько что ищешь и жми:
        .amazing_button.wow_publish(style='margin-top: 3.5%;') опубликовать булшит

    script.
        require('initialize');

        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter24690674 = new Ya.Metrika({id:24690674,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            trackHash:true});
                } catch(e) { }
            });
                    var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                    if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    noscript
    div
        img(src='//mc.yandex.ru/watch/24690674', style='position: absolute; left: -9999px;', alt='')

